@import "_variables";

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  color: $brown;
}

.hover:hover {
  background-color: $brown;
  color: white;
  cursor: pointer;
}

header {
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  border-bottom: 1px solid $brown;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-transform: uppercase;
  }
  div:nth-child(2) {
    border-right: 1px solid $brown;
    border-left: 1px solid $brown;
  }
}

main {
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-auto-flow: column;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    border-bottom: 1px solid $brown;
  }
}

.photo {
  grid-row: 1 / -1;
  border: 1px solid $brown;
  border-top: 0;
  img { 
    width: 100%;
    max-width: 100%; 
    max-height: 100%;
    object-fit: contain;
  }
}

footer {
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  marquee {
    border-right: 1px solid $brown;
    border-left: 1px solid $brown;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    behavior: scroll;
  }
}